doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles/custom.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')

  body
    block content
