<%- include('partials/head.ejs', {pageTitle: 'Index'}); %>

<div class="container">
  <h1>Index 222</h1>

  <ul>
    <li><a href="/home">/home</a> Home</li>
  </ul>

  <ul>
    <h3>Users</h3>
    <li><a href="/users">/users</a> Users</li>
    <li><a href="/users/add">/users/add</a> Add User</li>
  </ul>

  <ul>
    <h3>Log</h3>
    <li><a href="/log">/log</a> Log</li>
  </ul>

</div>

<%- include('partials/footer.ejs'); %>